---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/About/Hero.astro";
import Comunity from "@components/About/Comunity.astro";
import Meet from "@components/About/Meet.astro";
import Video from "@components/About/Video.astro";
import Work from "@components/About/Work.astro";
import Article from "@components/About/Article.astro";
---

<Layout title="Diaz Constructions | About">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero />
    <Comunity />
    <Meet />
    <Video />
    <Work />
    <Article />
  </main>
</Layout>
