---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import Content from "@components/Blog-Details/Content.astro";
---

<Layout title="Diaz Constructions | Blog Details">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Dedicated to Building Dreams, Crafting Quality..."
      text="Blog Details"
      image="/BLOG Diaz Construction Remodeling, Construction of Residential Spaces and Offices.webp"
    />
    <Content />
  </main>
</Layout>
