---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import BlogsList from "@components/Blog/BlogsList.astro";
---

<Layout title="Diaz Constructions | Blog ">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Blogs"
      text="Blogs"
      image="/BLOG Diaz Construction Remodeling, Construction of Residential Spaces and Offices.webp"
    />
    <BlogsList />
  </main>
</Layout>
