---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import Carrousel from "@components/Company-History/Carrousel";
import TimeLine from "@components/Company-History/TimeLine.astro";
import Features from "@components/Company-History/Features.astro";
---

<Layout title="Diaz Constructions | Company History">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Diaz construction: Build Remodel & Improve"
      text="Company History"
      image="/COMPANY HISTORY Diaz Construction Remodeling, Construction and Property Renovation.webp"
    />
    <Carrousel client:visible />
    <Features />
    <TimeLine />
  </main>
</Layout>
