---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import Form from "@components/Contact/Form";
import Map from "@components/Contact/Map";
---

<Layout title="Diaz Constructions | Contact">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Contact Us"
      text="Contact"
      image="/CONTACT Diaz Construction Construction Projects Across the Country, Construction, Remodeling and Renovation of Residential and Office Spaces.webp"
    />
    <Form client:visible />
    <Map client:load />
  </main>
</Layout>
