---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import About from "@components/Project-Details/About.astro";
import Content from "@components/Project-Details/Content.astro";
import Stats from "@components/Project-Details/Stats";
import Accordion from "@components/Project-Details/Accordion";
import Related from "@components/Project-Details/Related.astro";
import RelatedProjects from "@components/Project-Details/RelatedProjects";
---

<Layout title="Diaz Constructions | Project Details">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Dedicated to Building Dreams, Crafting Quality"
      text="Project Details"
      image="https://html.themewant.com/elever/assets/images/banner/breadcrumb-7.webp"
    />
    <About />
    <Content />
    <Stats client:visible />
    <Accordion client:visible />
    <Related />
    <RelatedProjects client:visible />
  </main>
</Layout>
