---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import ListProject from "@components/Projects/ListProjects";
---

<Layout title="Diaz Constructions | Projects">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Our Projects"
      text="Our Projects"
      image="/PROJECTS Diaz Construction Remodeling and Construction of Spaces, Buildings, and Residential Homes.webp"
    />
    <ListProject client:visible />
  </main>
</Layout>
