---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import ListServices from "@components/Services/ListServices.astro";
---

<Layout title="Diaz Constructions | Services">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Our Services"
      text="Services"
      image="https://html.themewant.com/elever/assets/images/banner/breadcrumb.webp"
    />
    <ListServices />
  </main>
</Layout>
