---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import TeamList from "@components/Team/TeamList.astro";
---

<Layout title="Diaz Constructions | Team">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Meet the experts for ultimate and faster construction team in San Francisco  "
      text="Our Team"
      image="/TEAM Foundation construction for building Diaz Construction – General Contractor, Comprehensive Construction and Remodeling Services for Residences and Buildings.webp"
    />
    <TeamList />
  </main>
</Layout>
