---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import TeamList from "@components/Team/TeamList.astro";
---

<Layout title="Diaz Constructions | Team">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Team Members"
      text="Our Team"
      image="https://html.themewant.com/elever/assets/images/banner/breadcrumb-11.webp"
    />
    <TeamList />
  </main>
</Layout>
