---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import About from "@components/Team-Details/About.astro";
import Skills from "@components/Team-Details/Skills.astro";
---

<Layout title="Diaz Constructions | Team Details">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Team Details"
      text="Team Details"
      image="https://html.themewant.com/elever/assets/images/banner/breadcrumb.webp"
    />
    <About />
    <Skills />
  </main>
</Layout>
