---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
---

<Layout title="Diaz Constructions | Terms & Condition ">
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Terms & Condition"
      text="Terms & Condition"
      image="/TERMS & CONDITION Diaz Construction Construction Projects Across the Country, Construction, Remodeling and Renovation of Residential and Office Spaces.webp"
    />
    <section class="mx-auto container px-8 py-16">
      <h1 class="text-black font-bold text-4xl mb-4">Terms & Condition</h1>
      <article>
        <p class="text-gray-600 mb-8">
          Offers a unified platform that fosters innovation while providing
          end-to-end data management.
        </p>
        <p class="text-gray-600 mb-8">
          We're your strategic partners in digital transformation. With over a
          decade of experience and a team of certified experts, we deliver
          tailored solutions that drive growth, enhance efficiency, and secure
          your digital assets.
        </p>
        <p class="text-gray-600 mb-8">
          Luminous works with businesses of all sizes, from small startups to
          large enterprises. We tailor our solutions to meet the specific needs
          and budget of each client offers a wide range of IT services. As we
          invest heavily in ongoing training and professional development for
          our team. We also participate in industry conferences, maintain
          partnerships with leading technology providers, and conduct internal
          research and development projects.
        </p>
        <p class="text-gray-600 mb-8">
          Luminous works with businesses of all sizes, from small startups to
          large enterprises. We tailor our solutions to meet the specific needs
          and budget of each client offers a wide range of IT services. As we
          invest heavily in ongoing training and professional development for
          our team. We also participate in industry conferences, maintain
          partnerships with leading technology providers, and conduct internal
          research and development projects.
        </p>
        <p class="text-gray-600 mb-8">
          We're your strategic partners in digital transformation. With over a
          decade of experience and a team of certified experts, we deliver
          tailored solutions that drive growth, enhance efficiency, and secure
          your digital assets.
        </p>
        <p class="text-gray-600 mb-8">
          Luminous works with businesses of all sizes, from small startups to
          large enterprises. We tailor our solutions to meet the specific needs
          and budget of each client offers a wide range of IT services. As we
          invest heavily in ongoing training and professional development for
          our team. We also participate in industry conferences, maintain
          partnerships with leading technology providers, and conduct internal
          research and development projects.
        </p>
        <p class="text-gray-600 mb-8">
          Offers a unified platform that fosters innovation while providing
          end-to-end data management. See how we help your team solve today’s
          biggest challenges.
        </p>
      </article>
    </section>
  </main>
</Layout>
