---
import Team from "@components/Team.astro";
import ProjectCarrousel from "@components/ProjectCarrousel";

const projectList = [
  {
    id: 1,
    projectImage: "/diaz-project1.webp",
    title: "Modern Bathroom 1",
    description:
      "Modern bathroom renovation with sleek design and high-end finishes",
    specifications: [
      "Custom cabinetry",
      "Heated flooring",
      "Rain shower",
      "Freestanding tub",
    ],
    category: "Residential",
    location: "Outer Sunset, San Francisco",
    year: "2024",
    status: "Completed",
    projectUrl: "/project-details/modern-bathroom-1/",
  },
  {
    id: 2,
    projectImage: "/diaz-project2.webp",
    title: "Modern Bathroom 2",
    description: "Bathroom Renovation",
    specifications: [
      "Custom cabinetry",
      "Heated flooring",
      "Rain shower",
      "Freestanding tub",
    ],
    category: "Residential",
    location: "Outer Sunset, San Francisco",
    year: "2023",
    status: "Completed",
    projectUrl: "/project-details/modern-bathroom-2/",
  },
  {
    id: 3,
    projectImage: "/diaz-project3.webp",
    title: "Luxury Kitchen",
    description: "Kitchen Renovation",
    specifications: [
      "High-end appliances",
      "Custom cabinetry",
      "Quartz countertops",
      "Large island with seating",
    ],
    category: "Residential",
    location: "Balboa Park, San Francisco",
    year: "2023",
    status: "Operational",
    projectUrl: "/project-details/luxury-kitchen/",
  },
  {
    id: 4,
    projectImage: "/diaz-project4.webp",
    title: "Custom Closet",
    description: "Closet Custom Build",
    specifications: [
      "Custom shelving and drawers",
      "Integrated lighting",
      "Full-length mirror",
      "Seating area",
    ],
    category: "Retail",
    location: "Balboa Park, San Francisco",
    year: "2023",
    status: "Operational",
    projectUrl: "/project-details/custom-closet/",
  },
];
---

<div
  class="bg-[url(https://html.themewant.com/elever/assets/images/portfolio/01.webp)]"
>
  <section id="projects" class="py-20 text-white">
    <div class="container mx-auto space-y-12">
      <div class="text-center">
        <h2 class="text-background text-lg font-semibold">
          Get to know all the process
        </h2>
        <h3 class="text-3xl font-bold mt-2">Our Home Remodeling & Additions</h3>
      </div>
      <ProjectCarrousel projectList={projectList} client:load />
    </div>
  </section>
  <Team />
</div>
