---
import TestimoniosCarrousel from "@components/TestimoniosCarrousel";

const testimonials = [
  {
    id: 1,
    text: "I had been dragging out my kitchen remodel because of the cost and hassle I imagined it would be, but I gotta say it was the best experience I've had with a contractor.",
    name: "Rebecca S.",
    position: "Kitchen Remodel",
    rating: 5,
    image:
      "https://html.themewant.com/elever/assets/images/testimonials/01.webp",
  },
  {
    id: 2,
    text: "Everything went really smooth and easy. He made sure we had everything organized and available before he started.",
    name: "Peter Lewis",
    position: "Home Project",
    rating: 5,
    image:
      "https://html.themewant.com/elever/assets/images/testimonials/02.webp",
  },
  {
    id: 3,
    text: "While the project was extremely challenging, Edgar and his team made life much easier. We're grateful to Edgar and his team for helping us build our dream home, and bringing our vision to life. :) I've already recommended him to a few friends and would be happy to work with him again in the future.",
    name: "Devz P.",
    position: "Dream Home Build",
    rating: 5,
    image:
      "https://html.themewant.com/elever/assets/images/testimonials/01.webp",
  },
  {
    id: 4,
    text: "It's clear to me that he cares deeply about his clients' satisfaction and will work tirelessly to achieve this. All of this resulted in a bathroom we are madly in love with. I'm currently working on redesigning our kitchen and a guest bath, as well as some major exterior upgrades and there's no question that I'll be hiring Edgar again to do all the work. I simply cannot recommend Diaz Construction enough, and feel very fortunate to have found such a quality team.",
    name: "Jenna K.",
    position: "Bathroom & Home Remodel",
    rating: 5,
    image:
      "https://html.themewant.com/elever/assets/images/testimonials/02.webp",
  },
  {
    id: 5,
    text: "We recently asked Edgar to do a turf installation in our backyard. Edgar was extremely responsive and communicative, helped fit our budget, and executed the project quickly and on our schedule. Further he made some great design decisions that we really appreciate in hindsight versus our original ask. Our kids love the turf and have been out back every morning and afternoon since it was finished! Thanks Edgar!",
    name: "Cameron R.",
    position: "Backyard Turf Installation",
    rating: 5,
    image:
      "https://html.themewant.com/elever/assets/images/testimonials/01.webp",
  },
  {
    id: 6,
    text: "Edgar and his team were awesome! Great work, always on schedule, and transparent around what was being done and why - highly recommended!",
    name: "Evan F.",
    position: "General Construction",
    rating: 5,
    image:
      "https://html.themewant.com/elever/assets/images/testimonials/02.webp",
  },
];
---

<section id="testimonials" class="py-20">
  <div class="container mx-auto px-4 space-y-12">
    <!-- Encabezado -->
    <div class="text-center">
      <h2 class="text-background text-lg font-semibold tracking-wide">
        Client's testimonials
      </h2>
      <h3 class="text-4xl font-bold mt-4 text-gray-900 max-w-2xl mx-auto">
        What our work says
      </h3>
    </div>

    <!-- Grid de testimonios -->
    <TestimoniosCarrousel testimonials={testimonials} client:visible />
  </div>
</section>
