---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Utils/Hero.astro";
import About from "@components/Project-Details/About.astro";
import Content from "@components/Project-Details/Content.astro";
import Stats from "@components/Project-Details/Stats";
import Accordion from "@components/Project-Details/Accordion";
import Related from "@components/Project-Details/Related.astro";
import RelatedProjects from "@components/Project-Details/RelatedProjects";

export function getStaticPaths() {
  return [
    { params: { project: "project1" } },
    { params: { project: "project2" } },
    { params: { project: "project3" } },
    { params: { project: "project4" } },
    { params: { project: "project5" } },
    { params: { project: "project6" } },
    { params: { project: "project7" } },
    { params: { project: "project8" } },
    { params: { project: "project9" } },
    { params: { project: "project10" } },
    { params: { project: "project11" } },
    { params: { project: "project12" } },
  ];
}

const { project } = Astro.params;

const projectsList = {
  project1: {
    id: 1,
    title: "Modern Bathroom 1",
    subtitle: "Bathroom Design",
    location: "Location 1",
    price: "$30,000",
    client: "Client 1",
    url: "/project-details/project1/",
    projectYear: "2023",
    duration: "3 months",
    image: "/diaz-project1.webp",
    images: [
      {
        src: "/diaz-project1.1.webp",
        alt: "Project 1 Image 1",
        title: "Modern Bathroom 1",
      },
      {
        src: "/diaz-project1.2.webp",
        alt: "Project 1 Image 2",
        title: "Modern Bathroom 1",
      },
      {
        src: "/diaz-project1.3.webp",
        alt: "Project 1 Image 3",
        title: "Modern Bathroom 1",
      },
      {
        src: "/diaz-project1.4.webp",
        alt: "Project 1 Image 4",
        title: "Modern Bathroom 1",
      },
      {
        src: "/diaz-project1.5.webp",
        alt: "Project 1 Image 5",
        title: "Modern Bathroom 1",
      },
    ],
  },
  project2: {
    id: 2,
    title: "Modern Bathroom 2",
    subtitle: "Bathroom Renovation",
    location: "Location 2",
    price: "$35,000",
    client: "Client 2",
    url: "/project-details/project2/",
    projectYear: "2023",
    duration: "4 months",
    image: "/diaz-project2.webp",
    images: [
      {
        src: "/diaz-project2.1.webp",
        alt: "Project 2 Image 1",
        title: "Modern Bathroom 2",
      },
      {
        src: "/diaz-project2.2.webp",
        alt: "Project 2 Image 2",
        title: "Modern Bathroom 2",
      },
      {
        src: "/diaz-project2.3.webp",
        alt: "Project 2 Image 3",
        title: "Modern Bathroom 2",
      },
      {
        src: "/diaz-project2.4.webp",
        alt: "Project 2 Image 4",
        title: "Modern Bathroom 2",
      },
      {
        src: "/diaz-project2.5.webp",
        alt: "Project 2 Image 5",
        title: "Modern Bathroom 2",
      },
      {
        src: "/diaz-project2.6.webp",
        alt: "Project 2 Image 6",
        title: "Modern Bathroom 2",
      },
    ],
  },
  project3: {
    id: 3,
    title: "Luxury Kitchen",
    subtitle: "Kitchen Renovation",
    location: "Location 3",
    price: "$50,000",
    url: "/project-details/project3/",
    client: "Client 3",
    projectYear: "2023",
    duration: "5 months",
    image: "/diaz-project3.webp",
    images: [
      {
        src: "/diaz-project3.1.webp",
        alt: "Project 3 Image 1",
        title: "Luxury Kitchen",
      },
      {
        src: "/diaz-project3.2.webp",
        alt: "Project 3 Image 2",
        title: "Luxury Kitchen",
      },
      {
        src: "/diaz-project3.3.webp",
        alt: "Project 3 Image 3",
        title: "Luxury Kitchen",
      },
    ],
  },
  project4: {
    id: 4,
    title: "Custom Closet",
    subtitle: "Closet Custom Build",
    location: "Location 4",
    price: "$20,000",
    url: "/project-details/project4/",
    client: "Client 4",
    projectYear: "2023",
    duration: "2 months",
    image: "/diaz-project4.webp",
    images: [
      {
        src: "/diaz-project4.1.webp",
        alt: "Project 4 Image 1",
        title: "Custom Closet",
      },
    ],
  },
  project5: {
    id: 5,
    title: "Laundry Room",
    subtitle: "Utility Space",
    location: "Location 5",
    price: "$20,000",
    url: "/project-details/project5/",
    client: "Client 5",
    projectYear: "2023",
    duration: "2 months",
    image: "/diaz-project5.webp",
    images: [
      {
        src: "/diaz-project5.1.webp",
        alt: "Laundry Room Image 1",
        title: "Laundry Room",
      },
      {
        src: "/diaz-project5.2.webp",
        alt: "Laundry Room Image 2",
        title: "Laundry Room",
      },
    ],
  },
  project6: {
    id: 6,
    title: "Bathroom Suite",
    subtitle: "Outdoor Patio",
    location: "Location 6",
    price: "$25,000",
    url: "/project-details/project6/",
    client: "Client 6",
    projectYear: "2023",
    duration: "2 months",
    image: "/diaz-project6.webp",
    images: [
      {
        src: "/diaz-project6.1.webp",
        alt: "Bathroom Suite Image 1",
        title: "Bathroom Suite",
      },
    ],
  },
  project7: {
    id: 7,
    title: "Bathroom Small",
    subtitle: "Small Bathroom",
    location: "Location 7",
    price: "$15,000",
    client: "Client 7",
    projectYear: "2023",
    url: "/project-details/project7/",
    duration: "1 month",
    image: "/diaz-project7.webp",
    images: [
      {
        src: "/diaz-project7.1.webp",
        alt: "Bathroom Small Image 1",
        title: "Bathroom Small",
      },
    ],
  },
  project8: {
    id: 8,
    title: "Master Bedroom",
    subtitle: "Bedroom Renovation",
    location: "Location 8",
    price: "$30,000",
    client: "Client 8",
    url: "/project-details/project8/",
    projectYear: "2023",
    duration: "3 months",
    image: "/diaz-project8.webp",
    images: [
      {
        src: "/diaz-project8.1.webp",
        alt: "Master Bedroom Image 1",
        title: "Master Bedroom",
      },
    ],
  },
  project9: {
    id: 9,
    title: "Bathroom Suite",
    subtitle: "Suite Design",
    location: "Location 9",
    price: "$18,000",
    url: "/project-details/project9/",
    client: "Client 9",
    projectYear: "2023",
    duration: "1 month",
    image: "/diaz-project9.webp",
    images: [
      {
        src: "/diaz-project9.1.webp",
        alt: "Bathroom Suite Image 1",
        title: "Bathroom Suite",
      },
    ],
  },
  project10: {
    id: 10,
    title: "Expansive Home",
    subtitle: "Home Renovation",
    location: "Location 10",
    url: "/project-details/project10/",
    price: "$45,000",
    client: "Client 10",
    projectYear: "2023",
    duration: "4 months",
    image: "/diaz-project10.webp",
    images: [
      {
        src: "/diaz-project10.1.webp",
        alt: "Expansive Home Image 1",
        title: "Expansive Home",
      },
    ],
  },
  project11: {
    id: 11,
    title: "Room Expansion",
    subtitle: "Expansive Room",
    location: "Location 11",
    price: "$22,000",
    url: "/project-details/project11/",
    client: "Client 11",
    projectYear: "2023",
    duration: "2 months",
    image: "/diaz-project11.webp",
    images: [
      {
        src: "/diaz-project11.1.webp",
        alt: "Outdoor Patio Image 1",
        title: "Outdoor Patio",
      },
      {
        src: "/diaz-project11.2.webp",
        alt: "Outdoor Patio Image 2",
        title: "Outdoor Patio",
      },
      {
        src: "/diaz-project11.3.webp",
        alt: "Outdoor Patio Image 3",
        title: "Outdoor Patio",
      },
    ],
  },
  project12: {
    id: 12,
    title: "Bedroom Interior",
    subtitle: "Custom Bedroom",
    location: "Location 12",
    price: "$28,000",
    client: "Client 12",
    url: "/project-details/project12/",
    projectYear: "2023",
    duration: "3 months",
    image: "/diaz-project12.webp",
    images: [
      {
        src: "/diaz-project12.1.webp",
        alt: "Home Office Image 1",
        title: "Home Office",
      },
      {
        src: "/diaz-project12.2.webp",
        alt: "Home Office Image 2",
        title: "Home Office",
      },
    ],
  },
};

const currentProject = projectsList[project as keyof typeof projectsList];
---

<Layout title={`Diaz Constructions | ${currentProject.title}`}>
  <main class="text-white overflow-x-hidden bg-[#EFEBE7]">
    <Hero
      title="Dedicated to Building Dreams, Crafting Quality"
      text="Project Details"
      image="/PROJECTS Diaz Construction Remodeling and Construction of Spaces, Buildings, and Residential Homes.webp"
    />
    <About images={currentProject.images} />
    <!-- <Content /> -->
    <Stats client:visible />
    <Accordion client:visible />
    <Related />
    <RelatedProjects
      client:visible
      projectsList={projectsList}
      currentProjectId={currentProject.id}
    />
  </main>
</Layout>
