<section class="container mx-auto px-8 py-8 text-gray-600">
  <p class="mb-8">
    Netus platea nec commodo tincidunt felis orci iaculis facilisi. Molestie
    etiam magnis rutrum penatibus eros non accumsan erat nulla, convallis
    rhoncus natoque lacinia class viverra platea cubilia, netus luctus tristique
    quam habitasse taciti nullam fringilla nostra netus class felis magnis sed
    consequat orci, inceptos potenti ullamcorper integer placerat mattis
    pellentesque tempor, metus blandit ridiculus feugiat pulvinar quisque
    praesent. Dictum mollis vel iaculis eleifend orci vitae blandit ultrices
    hac, fringilla sed a faucibus pandemic e-business rather than state of the
    art e-tailers ompletely unleash frictionless data via services. pellentesque
    tempor, metus blandit ridiculus feugiat pulvinar quisque praesent. Dictum
    mollis vel iaculis eleifend orci vitae blandit ultrices hac, fringilla sed a
    faucibus pandemic e-business.
  </p>
  <p class="font-bold mb-8">
    “Tortor nunc dictumst sapien inceptos libero natoque maecenas metus viverra
    commodo dignissim magna, donec odio leo varius nullam potenti porta facilisi
    vulputate sollicitudin montes ostra vel himenaeos sem sociosqu erat
    inceptos”
  </p>
  <p>
    Netus platea nec commodo tincidunt felis orci iaculis facilisi. Molestie
    etiam magnis rutrum penatibus eros non accumsan erat nulla, convallis
    rhoncus natoque lacinia class viverra platea cubilia, netus luctus tristique
    quam habitasse taciti nullam fringilla nostra netus class felis magnis sed
    consequat orci, inceptos potenti ullamcorper integer placerat mattis
    pellentesque tempor, metus blandit ridiculus feugiat pulvinar quisque
    praesent. Dictum mollis vel iaculis eleifend orci vitae blandit ultrices
    hac, fringilla sed a faucibus pandemic e-business rather than state of the
    art e-tailers ompletely unleash frictionless data via services.
  </p>
</section>
